* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     transition: all ease 0.3s;
}


html,
body {
     width: 100%;
     height: 100%;
     background-color: #000000;
}

.nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 10vh;
     width: 100%;
     /* background-color: red; */
     padding: 0 30px;
     border-bottom: 3px solid aliceblue;
}

.nav1 {
     display: flex;
}

.nav a {
     text-decoration: none;
     color: aliceblue;
}

.nav2 {
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.nav2 a {
     text-decoration: none;
     color: aliceblue;
     padding: 5px 20px;
     font-size: 20px;
}

.nav2 a:hover {
     color: seagreen;
}


.con {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     height: 90vh;
     width: 100%;
     padding: 0 30px;
     gap: 5vh;
}

.con img {
     width: 50%;
     height: 70vh;
}

.con img:hover {
     transform: scale(90%);
}

.con .con1 {
     height: auto;
     width: auto;
     color: aliceblue;
     /* padding: 8px; */
}

.con .con1 h1 {
     font-size: 40px;
     font-style: italic;
     padding-bottom: 8px;
}

.con .con1 p {
     font-size: 17px;
     font-weight: 400;
     padding: 10px 0;
}

.con .con1 button {
     border: none;
     padding: 10px 20px;
     font-size: 17px;
}

.con .con1 button:hover {
     background-color: seagreen;
     color: black;
}

.con .con1 button:active {
     transform: scale(90%);
}

#t {
     display: flex;
     height: 8vh;
     width: 100%;
     justify-content: center;
     align-items: center;
     color: aliceblue;
}

.card {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     height: 48vh;
     width: 100%;
     /* border: 2px solid white; */
     color: aliceblue;
     gap: 5vh;
}

.card .card2 {
     height: 25vh;
     width: 50vh;
     border: 2px solid white;
     padding: 20px;
}

.con2{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: baseline;
     height: 40vh;
     width: 70%;
     border: 2px solid whitesmoke;
     color: aliceblue;
}

.con2 h1{
     padding: 0px 30px 30px 10px;
     color: gold;
}

.con2 h3{
     gap: 4vh;
     padding-left: 150px;
}


.pred{
     display: flex;
     justify-content: center;
     align-items: center;
}

.form {
     display: flex;
     flex-direction: column;
     gap: 10px;
     width: 50%;
     height: auto;
     padding: 20px;
     border-radius: 20px;
     position: relative;
     background-color: #1a1a1a;
     color: #fff;
     border: 1px solid #333;
}

.title {
     font-size: 28px;
     font-weight: 600;
     letter-spacing: -1px;
     position: relative;
     display: flex;
     align-items: center;
     padding-left: 30px;
     color: #00bfff;
}

.title::before {
     width: 18px;
     height: 18px;
}

.title::after {
     width: 18px;
     height: 18px;
     animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
     position: absolute;
     content: "";
     height: 16px;
     width: 16px;
     border-radius: 50%;
     left: 0px;
     background-color: #00bfff;
}

.message,
.signin {
     font-size: 14.5px;
     color: rgba(255, 255, 255, 0.7);
}

.signin {
     text-align: center;
}

.signin a:hover {
     text-decoration: underline royalblue;
}

.signin a {
     color: #00bfff;
}

.flex {
     display: flex;
     width: 100%;
     gap: 6px;
}

.form label {
     position: relative;
}

.form label .input {
     background-color: #333;
     color: #fff;
     width: 100%;
     padding: 20px 05px 05px 10px;
     outline: 0;
     border: 1px solid rgba(105, 105, 105, 0.397);
     border-radius: 10px;
}

.form label .input+span {
     color: rgba(255, 255, 255, 0.5);
     position: absolute;
     left: 10px;
     top: 0px;
     font-size: 0.9em;
     cursor: text;
     transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
     top: 12.5px;
     font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
     color: #00bfff;
     top: 0px;
     font-size: 0.7em;
     font-weight: 600;
}

.input {
     font-size: medium;
}

.submit {
     border: none;
     outline: none;
     padding: 10px;
     border-radius: 10px;
     color: #fff;
     font-size: 16px;
     transform: .3s ease;
     background-color: #00bfff;
}

.submit:hover {
     background-color: #00bfff96;
}

@keyframes pulse {
     from {
          transform: scale(0.9);
          opacity: 1;
     }

     to {
          transform: scale(1.8);
          opacity: 0;
     }
}